.card-component header.success {background: $color-success;}
.card-component header.warning {background: $color-warning;}
.card-component header.error {background: $color-error;}
.card-component header.info {background: #00bcd4;}

.card-component {margin: 0px 20px 20px 0px; width: 250px; display: block;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);transition: box-shadow 0.3s cubic-bezier(0.52, 0, 0.53, 1);border-radius: 3px;overflow: hidden;}
.card-component:hover {box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)}

.card-component header {padding: 2rem 1rem 0.5rem;width: 100%;}
.card-component header .card-value {display: block; width: 100%; color: $color-white; margin: 0;font-weight: 500;font-size: 55px; line-height: 1.0em;}
.card-component header .card-title { color: $color-white; }
.card-component main.card-middle {padding: 1rem;min-height: 144px;padding-bottom: 1rem; min-height: 144px;}
.card-component footer {width: 100%; border-top: 1px solid color-dark('gray');}
.card-component footer a {overflow: hidden;text-overflow: ellipsis;white-space: nowrap; border: 0;font-size: 14px;padding: 1em 2em; color: color-dark('gray'); width: 100%; text-align: center;}
.card-component footer a:hover {background: #e6e6e6;}
